<template name="botList">
    <div class="container">
        <button id="add-bot" class="btn btn-primary">Add Bot</button>
        <br>
        <table class="table table-hover" data-cy="bot-list">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Number of runs</td>
                    <td>Last Run</td>
                    <td>Results</td>
                </tr>
            </thead>
            <tbody>
                {{#each bots}}
                    <tr>
                        <th scope="row">
                            <p>{{name}}</p>
                            <p>{{description}}</p>
                        </th>
                        <td>10</td>
                        <td>Jan 1 2020</td>
                        <td>Yes</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>
