<template name="botList">
    <div class="container">
        <button id="add-bot" class="btn btn-primary">Add Bot</button>
        <br>
        <table class="table table-hover" data-cy="bot-list">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Subreddit</td>
                    <td>Keywords</td>
                    <td>Min Score</td>
                </tr>
            </thead>
            <tbody>
                {{#each bots}}
                    <tr>
                        <th scope="row">
                            <p>{{name}}</p>
                            <p><em>{{description}}</em></p>
                        </th>
                        <td>{{subreddit}}</td>
                        <td>{{keyword}}</td>
                        <td>{{minimumScore}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>
